section form label{
	float: left;
	width: 10em;
    text-align: right
}
section form input, select, textarea{
	margin-left: 1em;
	margin-bottom: .5em;
}
section form legend{
	color: #931420;
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 1em;
	text-align: center;
}
section form p{
	margin-top: .5em;
	margin-left: 1em;
}
aside form{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	padding: 5px;
}
aside form label{
    margin-left: .4em;
    margin-right: .8em;
}	